body {
    background-color: bisque;
}

#cursor {
    width: 100px;
    height: 100px;
    background-color: skyblue;
    border: thick solid black;
    left: 0;
    top: 0;
    pointer-events: fill;
    position: relative;
    transform: translate(-50%, -50%);
    transition: .1%;
}